* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: #f3f4f6;
  color: #2c3e50;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}